<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to avoid prettytable default error.

In [1]:
#!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("FinalProject.db")
cur = conn.cursor()

print("SUCCESS!")

SUCCESS!

Load the SQL magic module

In [3]:
%load_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [4]:
df_census = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df_schools = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df_crimes = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")

df_crimes.to_sql("CHICAGO_CRIME_DATA", conn, if_exists="replace", chunksize=500)
df_schools.to_sql("CHICAGO_PUBLIC_SCHOOLS", conn, if_exists="replace", chunksize=500)
df_census.to_sql("CENSUS_DATA", conn, if_exists="replace", chunksize=500)

78

Establish a connection between SQL magic module and the database `FinalDB.db`

In [5]:
%sql sqlite:///FinalProject.db

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Exercise 1: Using Joins

Now write and execute SQL queries to solve assignment problems

### Question 1

##### Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98

In [ ]:
print(df_census.columns)
print(df_schools.columns)

%sql SELECT s.NAME_OF_SCHOOL, c.COMMUNITY_AREA_NAME, s.AVERAGE_STUDENT_ATTENDANCE FROM CHICAGO_PUBLIC_SCHOOLS AS s \
LEFT JOIN CENSUS_DATA AS c \
ON c.COMMUNITY_AREA_NUMBER = s.COMMUNITY_AREA_NUMBER \
WHERE c.HARDSHIP_INDEX = 98

### Question 2

##### Write and execute a SQL query to list all crimes that ook place at a school. Include case number, crime type and community name

In [22]:
#print(df_crimes.columns)
#print(df_census.columns)
#print(df_crimes['LOCATION_DESCRIPTION'].value_counts())

%sql SELECT cr.CASE_NUMBER, cr.PRIMARY_TYPE, ce.COMMUNITY_AREA_NAME FROM CHICAGO_CRIME_DATA AS cr LEFT JOIN CENSUS_DATA AS ce \
ON cr.COMMUNITY_AREA_NUMBER = ce.COMMUNITY_AREA_NUMBER \
WHERE cr.LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * sqlite:///FinalProject.db
Done.

[('HL353697', 'BATTERY', 'South Shore'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', None),
 ('G635735', 'PUBLIC PEACE VIOLATION', None)]

## Exercise 2: Creating a View 

### Question 1

##### Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

| Column name in CHICAGO_PUBLIC_SCHOOLS	| Column name in view |
| --------------------------- | ----------------------------- |
| NAME_OF_SCHOOL | School_Name |
| Safety_Icon | Safety_Rating | 
| Family_Involvement_Icon | Family_Rating | 
| Environment_Icon | Environment_Rating | 
| Instruction_Icon | Instruction_Rating | 
| Leaders_Icon | Leaders_Rating | 
| Teachers_Icon | Teachers_Rating | 

##### Write and execute a SQL statment that returns all of the columns from the view.

##### Write and execute a SQL statement that returns just the school name and leaders rating from the view

In [ ]:
print(df_schools.columns)
print(df_schools["Safety_Icon"].value_counts())

%sql DROP VIEW IF EXISTS public_view; \
    CREATE VIEW public_view AS \
    SELECT NAME_OF_SCHOOL AS School_Name, \
    Safety_Icon AS Safety_Rating, \
    Family_Involvement_Icon AS Family_Rating, \
    Environment_Icon AS Environment_Rating, \
    Instruction_Icon AS Instruction_Rating, \
    Leaders_Icon AS Leaders_Rating, \
    Teachers_Icon AS Teachers_Rating \
    FROM CHICAGO_PUBLIC_SCHOOLS

In [ ]:
%sql SELECT School_Name, Leaders_Rating FROM public_view

In [ ]:
%sql SELECT * FROM

## Exercise 3: Creating a Stored Procedure

### Question 1

##### Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer.

In [ ]:
DELIMITERS $$

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN School_ID INT, IN Leader_Score INT)
BEGIN
    -- sql statements
    
END $$

DELIMITER ;

### Question 2

##### Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.

In [ ]:
DELIMITERS $$

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN School_ID INT, IN Leader_Score INT)
BEGIN
    -- sql statements
    UPDATE CHICAGO_PUBLIC_SCHOOLS AS c SET c.Leader_Score = Leader_Score WHERE c.School_ID = School_ID;
    
END $$

DELIMITER ;

### Question 3

##### Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

| Score lower limit | Score upper limit | Icon |
| ---------------- | -------------------| ------- |
|80	|99	|Very strong|
|60	|79	|Strong|
|40	|59	|Average|
|20	|39	|Weak|
|0	|19	|Very weak|

In [ ]:
DELIMITER $$

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN School_ID INT, IN Leader_Score INT)
BEGIN
    -- sql statements
    DECLARE Leader_Icon VARCHAR(20);

    IF Leader_Score > 80 THEN
        SET Leader_Icon = 'Very Strong';
    ELSEIF Leader_Score > 60 THEN
        SET Leader_Icon = 'Strong';
    ELSEIF Leader_Score > 40 THEN
        SET Leader_Icon = 'Average';
    ELSEIF Leader_Score > 20 THEN 
        SET Leader_Icon = 'Weak';
    ELSE 
        SET Leader_Icon = 'Very Weak';
    END IF;
    
    UPDATE CHICAGO_PUBLIC_SCHOOLS AS c SET c.Leader_Score = Leader_Score, c.Leader_Icon = Leader_Icon WHERE c.School_ID = School_ID;
    
END $$

DELIMITER ;

### Question 4

##### Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

In [ ]:
SELECT School_ID, NAME_OF_SCHOOL, Leaders_Score, Leaders_Icon FROM coursera_db.chicago_public_schools WHERE School_ID = 610038;

## Exercise 4: Using Transactions

### Question 1

##### Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.

In [ ]:
DELIMITER $$

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN School_ID INT, IN Leader_Score INT)
BEGIN
    -- sql statements
    DECLARE Leader_Icon VARCHAR(20);

    IF Leader_Score > 80 AND Leader_Score <= 99 THEN
        SET Leader_Icon = 'Very Strong';
    ELSEIF Leader_Score > 60 THEN
        SET Leader_Icon = 'Strong';
    ELSEIF Leader_Score > 40 THEN
        SET Leader_Icon = 'Average';
    ELSEIF Leader_Score > 20 THEN 
        SET Leader_Icon = 'Weak';
    ELSEIF Leader_Score > 0 THEN
        SET Leader_Icon = 'Very Weak';
    ELSE
        ROLLBACK;
    END IF;
    
    UPDATE CHICAGO_PUBLIC_SCHOOLS AS c SET c.Leader_Score = Leader_Score, c.Leader_Icon = Leader_Icon WHERE c.School_ID = School_ID;
    
END $$

DELIMITER ;

### Question 2

##### Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.

In [ ]:
DELIMITER $$

CREATE PROCEDURE UPDATE_LEADERS_SCORE(IN School_ID INT, IN Leader_Score INT)
BEGIN
    -- sql statements
    DECLARE Leader_Icon VARCHAR(20);

    IF Leader_Score > 80 AND Leader_Score <= 99 THEN
        SET Leader_Icon = 'Very Strong';
    ELSEIF Leader_Score > 60 THEN
        SET Leader_Icon = 'Strong';
    ELSEIF Leader_Score > 40 THEN
        SET Leader_Icon = 'Average';
    ELSEIF Leader_Score > 20 THEN 
        SET Leader_Icon = 'Weak';
    ELSEIF Leader_Score > 0 THEN
        SET Leader_Icon = 'Very Weak';
    ELSE
        ROLLBACK;
    END IF;
    
    UPDATE CHICAGO_PUBLIC_SCHOOLS AS c SET c.Leader_Score = Leader_Score, c.Leader_Icon = Leader_Icon WHERE c.School_ID = School_ID;

    COMMIT;
    
END $$

DELIMITER ;

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>